@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  scroll-behavior: smooth;
  position: relative;
  top: 8rem;
}

.logo-transition {
  transition: all 0.5s ease;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Pour Webkit (Safari et Chrome) */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
  background: none; /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
  background: #ff00aa8e; /* Couleur de la poignée de défilement */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff00a8; /* Couleur de la poignée de défilement au survol */
}

body {
  scrollbar-width: thin; /* Largeur de la barre de défilement */
  scrollbar-color: #888 #f1f1f1; /* Couleur de la poignée de défilement et couleur de fond de la piste de défilement */
  /* Pour Firefox */

}

