@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  position: relative;
  top: 8rem;
}


.logo-transition {
  transition: all 0.5s ease;
  animation: fadeIn 1s ease;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

